<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LittleTips.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LittleTips.Properties.Settings>
            <setting name="LightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChineseMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DonateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Favorites" serializeAs="String">
                <value />
            </setting>
            <setting name="DataMigration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TipsWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TipsWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModifierKeyIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value />
            </setting>
        </LittleTips.Properties.Settings>
    </userSettings>
</configuration>